Repository nanoframework/nanoFramework.Networking.Thread, pull requests merged in 2024-07, with the labels that each got.

#4 Fix tests project build
  README.md
  Tests/DataSetTests/DataSetTests.cs
  Tests/DataSetTests/DataSetTests.nfproj
  Tests/DataSetTests/packages.lock.json
  nanoFramework.Networking.Thread.nuspec
  nanoFramework.Networking.Thread/OpenThreadConsoleOutputAvailableArgs.cs
  nanoFramework.Networking.Thread/nanoFramework.Networking.Thread.nfproj
  nanoFramework.Networking.Thread/packages.config
  nanoFramework.Networking.Thread/packages.lock.json
Labels: Area: Config-and-Build, Type: enhancement

#5 Various fixes with CI-CD
  LICENSE.md
  NuGet.Config
  Tests/DataSetTests/DataSetTests.nfproj
  azure-pipelines.yml
  config/SignClient.json
  nanoFramework.Networking.Thread.nuspec
  nanoFramework.Networking.Thread/nanoFramework.Networking.Thread.nfproj
Labels: Area: Config-and-Build

#6 Various fixes from testing of samples
  nanoFramework.Networking.Thread/OpenThread.cs
  nanoFramework.Networking.Thread/OpenThreadDataset.cs
  nanoFramework.Networking.Thread/OpenThreadJoinerStartCompleteEventArgs.cs
Labels: Type: Bug
